*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(255, 255, 255, 0.37);
       background-size: 100%;
        background-color: rgb(15, 15, 15);
        padding-bottom: 10em;
        
    }
        p{opacity: 0.7;
            margin: 2em 0;
        }
    
    a{
        border: 2px solid rgba(255, 255, 255, 0.281);
        padding: 0.6em 3.5em;
        color: white;
        text-decoration: none;
        border-radius: 50px;
        font-size: 0.9em;
    }
    a:hover{
    background: rgba(91, 58, 168, 0.884);
    color: rgb(255, 255, 255);
    transition: all .5s;
    
    
    }
    
    h1{
        opacity: 0.9;
        text-align: center;
        font-weight: 600;
        font-size: 2em;
    }
    
    .banner{
        width: 100%;
        height: 850px;
        display: flex;
        align-items: center;
        text-align: center;
        background: fixed no-repeat url("https://drive.google.com/uc?export=download&id=1ccjsg43IRLOP0t11Fz5vyo6YhVEayoW2") ;
        background-size: 200%;
        
    
    }

    @media (min-width: 600px) {
        .banner{
            background-size: 100%;
        }
    }
    
    .banner_description{
        text-align: center;
        width: 90%;
        max-width: 1000px;
        display: block;
        margin: auto;
        margin-top: 550px;
    
    }
    
    .bannerz{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: rgb(18, 15, 153);
        background-size: 200%;
        
    
    }
    
    .banner_descriptionz{
        text-align: center;
        width: 90%;
        max-width: 1000px;
        display: block;
        margin: auto;
        margin-top: 120px;
    
    }
    
    
    .banner2{
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        background: fixed no-repeat url(images/edit.jpg);
        background-size: 100%;
        
    }
    
    .banner_description2{
    
        color: rgb(255, 255, 255);
        width: 90%;
        max-width: 1000px;
        display: block;
        text-align: right ;
        margin-top: 65%;
        margin-top: 300px;
        
    
    }
    .banner3{
        width: 100%;
        background: rgba(224, 192, 6, 0.918);
        height: 200px;
        display: flex;
        align-items: center;
    }
    .banner_description3{
    
        color: rgb(255, 255, 255);
        width: 90%;
        max-width: 1000px;
        display: block;
        text-align: end;
        margin-top: 90px;
    
       
        
    
    }
    .banner4{
        width: 100%;
        background: yellow;
        height: 800px;
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0);
        background: fixed no-repeat url(images/3d.jpg);
        background-position: 20% ;
        background-position: -300px 50px ;
    }
    .banner_description4{
    
        color: rgb(255, 255, 255);
        width: 90%;
        max-width: 1000px;
        display: block;
        text-align: end;
        margin-top: -200px;
       
        
    
    }

.banner5{
    width: 100%;
    background: yellow;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(192, 148, 51);
  
}
.banner_description5{

    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    display: block;
    text-align: end;
    margin-top: 90px;
   
    

}

.banner6{
    width: 100%;
    background: rgb(255, 145, 0);
    height: 800px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background: fixed no-repeat url(images/sp.jpg);
    background-position: -700px -150px ;
    
    
}
.banner_description6{
    margin-top: -370px;
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    display: block;
    text-align: right;
    
   
    

}