*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(255, 255, 255, 0.37);
       background-size: 100%;
        background-color: rgb(15, 15, 15);
        padding-bottom: 10em;
        
    }
        p{opacity: 0.7;
            margin: 2em 0;
        }
       /* p{
            border: 2px solid rgb(252, 252, 252);
            padding: 0.7em 3.5em;
            color: white;
            text-decoration: none;
            border-radius: 50px;
            font-size: 0.9em;
        }
        p:hover{
        background: #fff;
        color: #000;
        transition: all .5s;
        
        
        }*/
    a{
        
        color: white;
        text-decoration: none;
       
    }
  
    
    h1{
        opacity: 0.9;
        text-align: center;
        font-weight: 600;
        font-size: 2em;
    }
    h4{
        opacity: 0.9;
        text-align: center;
        font-weight: 600;
        font-size: 2em;
    }
    
    .banner{
        width: 100%;
        height: 850px;
        display: flex;
        align-items: center;
        text-align: center;
        background: fixed no-repeat url("https://drive.google.com/uc?export=download&id=1ccjsg43IRLOP0t11Fz5vyo6YhVEayoW2") ;
        background-size: 280%;
    background-position: 12% -30%;
        
    
    }

    @media (min-width: 600px) {
        .banner{
            background-size: 200%;
            background-position: 3% -30%;
        }
       
    }
    
    .banner_description{
        text-align: center;
        width: 90%;
        max-width: 1000px;
        display: block;
        margin: auto;
        margin-top: 530px;
    
    }
    
    
    .bannerz{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: rgb(18, 15, 153);
        background-size: 200%;
        
    
    }
    
    .banner_descriptionz{
        text-align: center;
        width: 90%;
        max-width: 1000px;
        display: block;
        margin: auto;
        margin-top: 120px;
    
    }
    
    
    .banner2{
        width: 100%;
        height: 760px;
        display: flex;
        align-items: center;
        background: fixed no-repeat url(images/edit.jpg);
        background-size: 100%;
        
    }
    
    .banner_description2{
    
        color: rgb(255, 255, 255);
        width: 90%;
        max-width: 1000px;
        display: block;
        text-align: right ;
        margin-top: 65%;
        margin-top: 300px;
        
    
    }
    .banner3{
        width: 100%;
        background: rgba(224, 192, 6, 0.918);
        height: 200px;
        display: flex;
        align-items: center;
    }
    .banner_description3{
    
        color: rgb(255, 255, 255);
        width: 90%;
        max-width: 1000px;
        display: block;
        text-align: end;
        margin-top: 90px;
    
       
        
    
    }
    .banner4{
        width: 100%;
        background: yellow;
        height: 800px;
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0);
        background: fixed no-repeat url(images/3d.jpg);
        background-size: 200% 100%;
        background-position: 0px 00px ;
    }
    .banner_description4{
    
        color: rgb(255, 255, 255);
        width: 90%;
        max-width: 1000px;
        display: block;
        text-align: start;
        margin-top: 400px;
       
        
    
    }

.banner5{
    width: 100%;
    background: yellow;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(192, 148, 51);
  
}
.banner_description5{

    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    display: block;
    text-align: end;
    margin-top: 90px;
   
    

}

.banner6{
    width: 100%;
    background: rgb(255, 145, 0);
    height: 800px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background: fixed no-repeat url(images/sp.jpg);
    background-position: -700px -150px ;
    
    
}
.banner_description6{
    margin-top: -370px;
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    display: block;
    text-align: right;
}
.banner7{
    width: 100%;
    background: rgb(255, 145, 0);
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(209, 19, 19);
   
    background-position: -900px -150px ;
    
    
}
.banner_description7{
    margin-top:40px;
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    display: block;
    text-align: right;
    
}
.banner8{
    width: 100%;
  
    height: 600px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background: fixed no-repeat url(images/store.jpg);
    background-position: -450px 300px ;
    
    
}
.banner_description8{
    margin-top: -370px;
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    display: block;
    text-align: right;
}
.final{
    background-color: rgba(0, 0, 0, 0);
        height: 5px;
        color: rgba(255, 255, 255, 0.719);
        width: 90%;
        max-width: 1000px;
        display: block;
        text-align: center;
   
    

}
@media (min-width: 1px){
    
       
    }


@media (min-width: 600px) {
    .banner{
        background-size: 150%;
        background-position: -25% -30%;  }
    .banner_description{
     
            margin-top: 550px;
            background-size: 1000%;
            background-position: 3% -30%;
        }
    
   
}
@media (min-width: 900px) {
    .banner{
     
        margin-top: 0px;
        background-size: 100%;
        background-position: -85px 20%;
        height: 900px;
    }
    .banner_description{
     
        margin-top: 300px;
      text-align: center;
    }
    .banner_descriptionz{
     
        align-items: flex-start;
    }
    
    .banner4{
     
        margin-top: 00px;
        background-size: 100% 1200px;
        background-position: 00px 00%;
        
    }
    .banner6{
        
        background-position: 0px -150px ;
        
        
    }
    h1{
        text-align: center;
    }
   
}